$font-family: "Poppins", sans-serif;
$text-color: #6b6b84;
$text-color--tx: #111111;
$primary-color: #f35320;
$secondary-color: #f99459;
$bgr-color: #f3f3f3;
$bg-footer: #f3f9fe;
$border-color: #eeee;
