@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.scss";
@import "variable.scss";

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1;
  color: $text-color--tx;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 767.98px) {
    padding: 10px;
  }
}

.button {
  font-family: $font-family;
  cursor: pointer;
  padding: 16px 40px;
  display: inline-block;
  border-radius: 100rem;
  color: #fff;
  &--primary {
    background-color: $primary-color;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $secondary-color;
      width: 100%;
      height: 0;
      z-index: -1;
      border-radius: 100rem;
      transition: all 0.3s linear;
    }
  }
  &--primary:hover::before {
    height: 100%;
  }
  &--secondary {
    background-color: $secondary-color;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary-color;
      width: 100%;
      height: 0;
      z-index: -1;
      border-radius: 100rem;
      transition: all 0.3s linear;
    }
  }
  &--secondary:hover::before {
    height: 100%;
  }
}

// center
.page-center {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;
}

// heading
.page-heading {
  font-size: 40px;
  color: $text-color--tx;
  font-weight: 700;
  margin-bottom: 15px;
}

// desc
.page-desc {
  max-width: 700px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
}

// slider swiper custom
.product-list--swiper .swiper-slide {
  width: 300px !important;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
}

// banner fixed
.banner-fixed {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

// Overlay
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  inset: 0;
  position: absolute;
  z-index: -1;
}

// fadeLoading
.fade-loading {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.fade-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100rem;
  z-index: -1;
  animation: fade 1s infinite linear;
}

@keyframes fade {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

// BGR Product
.bgr-product {
  background-color: $bgr-color;
  margin-top: -80px;
  padding: 50px 0;
}

// page heading
.heading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  z-index: 0;
  color: #fff;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}

.quill:nth-child(1) {
  display: none;
}
