.cart {
  &-main {
    padding: 40px 0;
    &--left {
      width: 70%;
    }
    &--right {
      width: 30%;
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 5px;
    }
  }
  &-main .container {
    display: flex;
    gap: 0 40px;
  }
}
