.LastestBlog {
  padding: 100px 0;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  &-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover .LastestBlog-content::before {
      height: 100%;
    }
    &:hover .LastestBlog-title {
      color: #fff;
    }
    &:hover .LastestBlog-more {
      color: #fff;
    }
    &:hover .LastestBlog-date {
      background-color: var(--primary-color);
      color: #fff;
    }
    &:hover .LastestBlog-images img {
      transform: scale(1.2);
    }
  }
  &-images {
    height: 270px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s linear;
    }
  }
  &-date {
    position: absolute;
    bottom: 0;
    padding: 12px 25px;
    border-radius: 0 5px 0 0;
    background-color: #ffffff;
  }
  &-content {
    padding: 20px 10px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin-top: auto;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary-color);
      width: 100%;
      height: 0;
      z-index: -1;
      transition: all 0.3s linear;
    }
  }
  &-title {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 700;
    color: #111111;
    transition: all 0.3s linear;
  }
  &-more {
    color: var(--primary-color);
    transition: all 0.3s linear;
  }
}
