@import "../../../src/styles/index.scss";
.down {
  background-color: var(--text-color--tx);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  bottom: -100px;
  right: 20px;
  transition: all 0.5s linear;
  &.active-down {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
}
