@import "../../styles/index.scss";
.review {
  padding: 20px 0 40px;
  &-tab {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 10px;
    cursor: pointer;
    &--title {
      border: 1px solid $border-color;
      padding: 15px 30px;
    }
  }
  &-content {
    max-width: 800px;
    padding: 20px;
    border: 1px solid $border-color;
    &--desc {
      display: none;
    }
    &--review {
      display: none;
    }
  }
  &__heading {
    display: inline-block;
    padding-right: 20px;
    font-size: 23px;
    font-weight: 700;
    color: $text-color--tx;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $primary-color;
      left: 100%;
      top: 50%;
    }
  }
  &__heading:not(:last-child) {
    margin-bottom: 0;
  }
  &-customer {
    &__item {
      margin-bottom: 25px;
    }
    &__people {
      display: flex;
      align-items: center;
      gap: 0 20px;
      margin-bottom: 15px;
    }
    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100rem;
      }
    }
    &__name {
      color: $text-color--tx;
      font-size: 18px;
    }
    &__date {
      color: $secondary-color;
      margin-bottom: 10px;
    }
    &__desc {
      color: $text-color--tx;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    &__star {
      color: $secondary-color;
      display: flex;
      align-items: center;
    }
  }
}

.active-tabs {
  background-color: $primary-color;
  color: #fff;
  transition: all 0.25s linear;
}

.active-content {
  display: block;
}

.write {
  &-form {
    &--group {
      display: flex;
      align-items: center;
      gap: 0 30px;
      margin-bottom: 20px;
    }
    &--input,
    &--textarea {
      border: 1px solid $border-color;
      padding: 12px;
      border-radius: 5px;
      width: 100%;
      transition: all 0.25s ease;
      &:focus {
        border-color: $primary-color;
      }
    }
  }
}
