.banner-crops {
  min-height: 100vh;
  padding-top: 100px;
  &--content {
    max-width: 800px;
    background-color: #fff;
    padding: 50px;
    margin-left: auto;
  }
  &--txt {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 20px;
    display: inline-block;
  }
  &--heading .page-center {
    text-align: left;
    max-width: 700px;
    margin-bottom: 20px;
  }
  &--heading .page-desc {
    text-align: left;
  }
}
